@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(rgba(48, 2, 254, 0.45), rgba(244, 155, 155, 0.421) );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

::-webkit-scrollbar {
    width: 2Px;

}
::-webkit-scrollbar-track {
    background: #555;

}
::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;
}

::-webkit-slider-thumb:hover {
    background: #242424;
}